body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    color: #434455;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

/*--------HEADER-------*/

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    margin-right: 76px;
}

.logo-header-span {
    color: var(--IRIS, #2e2f42);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.header-menu-item {
display: flex;
gap: 40px;
}

.header-menu-link {
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:active {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-cont-list {
display: flex;
gap: 40px;
}

.header-contacts {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal
}

.header-contacts:hover, .header-contacts:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address a:hover {
    color: #404BBF;
}

.address a:focus {
    color: #404bbf;
}

/*-----------------*/

/*-----SECTION 1-----*/
.hero {
    background-color: var(--NAVY-BLUE, #2E2F42);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70) 0%, rgba(46, 47, 66, 0.70)), url(../images/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
}

.hero-title {
    color: var(--WHITE, #FFF);
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-button-service {
    color: var(--WHITE, #FFF);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--IRIS, #4D5AE5);
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    min-width: 169px;
    margin: 0 auto;
    display: block;
}

.hero-button-service:hover {
    background-color: #404BBF;
}

.hero-button-service:focus {
    background-color: #404BBF;
}
/*--------------------*/

/*-----SECTION 2-----*/

.facilities-block {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.facilities-list {
    display: flex;
    gap: 24px;
}

.facilities-list-items {
    width: calc((100% - 72px) / 4);
}
.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
}

.facilities-icon{
}

.facilities-titel {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.facilities-paragraph {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
/*--------------------*/

/*-----SECTION 3-----*/
.hero-team-list {
    background: var(--CLOUD, #F4F4FD);
    padding: 120px 0
}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-img {
    display: block;
}

.team-list-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-members {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding: 32px 0;
}

.team-members-names {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-members-jobs {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.icon-items {
 
}

.members-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
/*--------------------*/

/*-----SECTION 4-----*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-items-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-list-items {
    width: calc((100% - 48px) / 3);
}

.portfolio-title-group {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-img {
    display: block;
}

.cards-content {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*--------------------*/

/*-----FOOTER-----*/

.footer-logo {
    color: var(--CLOUD, #4d5ae5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}


.logo-footer-span {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-paragraph {
    color: var(--CLOUD, #F4F4FD);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-style {
    background: var(--NAVY-BLUE, #2E2F42);
    padding: 100px 0;
}

.icon-paragraph{
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*--------------------*/